    <div class="container">
        <h2>Leaderboard</h2>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in leaderboard %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ participant.alias }}</td>
                        <td>{{ participant.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

