{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Question</h2>
        <p>{{ question }}</p>
        <form method="post" action="{% url 'game-count-down' %}">
            {% csrf_token %}
            <p>{{ question }}</p>
            {% for answer in question.answer_set.all %}
                <div>
                    <input type="radio" name="answer" value="{{ answer.id }}" id="answer_{{ answer.id }}" required>
                    <label for="answer_{{ answer.id }}">{{ answer.answer }}</label>
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        <div class="container">
            <h2>Countdown</h2>
            <div id="countdown-timer">
                <span id="timer">10</span>
            </div>
        </div>
    </div>

    <script>
        let countdown = document.getElementById("timer");
        let countdownValue = parseInt(countdown.textContent);
        let countdownInterval = setInterval(() => {
            countdownValue -= 1;
            countdown.textContent = countdownValue;
            if (countdownValue === 0) {
                clearInterval(countdownInterval);
                window.location.href = "{% url 'game-count-down' %}";
            }
        }, 1000);
    </script>
{% endblock %}
