{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Question : {{ question }}        </h2>

        {% for answer in question.answer_set.all %}
        <div>
            <input type="radio" name="answer" value="{{ answer.id }}" id="answer_{{ answer.id }}" required>
            <label for="answer_{{ answer.id }}">{{ answer }}</label>
        </div>
    {% endfor %}
        <div class="container">
            <h2>Countdown</h2>
            <div id="countdown-timer">
                <span id="timer">{{ question.answerTime }}</span>
            </div>
        </div>
    </div>

    <script>
        let countdown = document.getElementById("timer");
        let countdownValue = parseInt(countdown.textContent);
        let countdownInterval = setInterval(() => {
            countdownValue -= 1;
            countdown.textContent = countdownValue;
            if (countdownValue === 0) {
                clearInterval(countdownInterval);
                window.location.href = "{% url 'game-count-down' %}";
            }
        }, 1000);

    </script>
{% endblock %}
