{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Your Last 5 Questionnaires</h2>
        <ul>
            {% for questionnaire in questionnaires %}
                <li>
                    {{ questionnaire.title }}
                    <div class="actions">
                        <a href="{% url 'questionnaire-detail' questionnaire.id %}">View Details</a>
                        <a href="{% url 'question-create' questionnaire.id %}">Add Question</a>
                        <a href="{% url 'game-create' questionnaire.id %}">Create Game</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to see your questionnaires.</p>
    {% endif %}
{% endblock %}

<style>
    h2 {
        margin-bottom: 1rem;
        font-weight: bolder;
        color: blue;
    }

    .actions {
        display: inline-block;
        margin-left: 1rem;
    }

    .actions a {
        margin-right: 0.5rem;
        text-decoration: underline;
    }
</style>
