{% extends 'base.html' %}

{% block content %}
    <h2>Your questionnaires</h2>
    <ul>
    {% for questionnaire in questionnaire_list %}
        <li>{{ questionnaire.title }} - <a href="{% url 'questionnaire-detail' questionnaire.id %}">View Details</a>  -- 
            <a href="{% url 'questionnaire-remove' questionnaire.id %}">Delete Questionnaire</a> -- 
            <a href="{% url 'game-create' questionnaire.id %}">Create Game with this Questionnaire</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
